__pycache__
/wikitext-2-raw-v1/.*
/wikitext-2-raw-v1
/wikitext-103-raw-v1/
/wikitext-103-prepared/
/bert_sents/
books_large_*
bookcorpus.tar.bz2
/bert_dataset
/logs/
/models/
/subsets/
/bert_dataset_prepared/
/sample_bert_dataset_prepared/
/old-logs/
/submodlib/
/ingenious-env/
/bert_dataset_prepared_with_text/
/wikipedia_prepared/
/bookscorpus_prepared/
/useful-data/
/partitions/
test.ipynb
test.py
representations.pt
col_ind.npy
data.npy
row_ind.npy
/openwebtext/
/openwebtext_prepared_1024/
/openwebtext_sample/
/openwebtext_sample_prepared/
/cache/
/tasks/
/jiant-env/
tfidf-dataset.pkl
sample
openwebtext_tfidf_vectors.npz
/openwebtext_sents_dataset/
/openwebtext_for_tfidf/
prepare_sents.py
wikitext-*
gluelogs*
*.pkl
*.npy
bert_first_sentences/